body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccd1e6;
}

.top-links {
    text-align: center;
    padding: 10px;
}

.itis-element {
    text-align: center;
    background-color: #e6e1cd;
}


.Land-page {
    text-align: center;
    margin: 20px 0;
}

.section-title {
    background-color: #e6e1cc;
    text-align: center;
}

.top-nav {
    text-align: center;
    padding: 10px;
}

.top-nav a {
    margin: 0 5px;
}

.welcome-message {
    padding: 20px;
    background-color: #e6e1cc;
}

.welcome-message {
    margin: 0;
}

.personal-links {
    background-color: #2f4f3e;
    color: white;
    text-align: left;
    padding: 10px;
}

.links {
    background-color: #2f4f3e;
    color: white;
    padding: 10px;
}

.links {
    padding: 10px;
    color:white;
}

.links a {
    color: white;
    margin-right: 20px;
}

footer {    
    text-align: center;
    padding: 10px;
    background-color: #2f4f3e;
    margin-top: 20px;
    color: white;
}