* {
    margin: 0;
    box-sizing:border-box;
    line-height: 1.5;
}

header {
    text-align: center;
    color:black;
    background-color: antiquewhite;
    font-family:'Times New Roman', Times, serif;
}

figure {
    text-align: center;
}

h1 {
    font-family:'Roboto', sans-serif;

}

main {
    background-color: whitesmoke;
    font-family: 'roboto', sans-serif;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    text-indent: 40px;
}

footer {
    background-color: #32533D;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    height: 100vw;
}

.footer-link-color a {
    color: white;
}
.footer-link-style {
    text-color: white;
}

.validate-link {
    text-align: center;
}