<html>
<head>
    <style data-id="immersive-translate-input-injected-css"> </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1271.0" data-gr-ext-installed>
    <header>
        <h1>Matthew B. Bridges | ITIS 3135</h1>
        <p class = "titleline"> The Laissez-faire</p>
        <nav aria-label="Course Links">

            <a href="https://matthewbridges34.github.io/" target="_blank">Landing Page</a> |
        <a href="contract.html" target="_blank">Contract</a> |
        <a href="https://matthewbridges34.github.io/itis3135/introduction.html" target="_blank">Introduction</a> |
        <a href="https://matthewbridges34.github.io/itis3135/website_evaluations.html" target="_blank">Website Evaluations</a> |
        <a href="https://matthewbridges34.github.io/itis3135/FCC/survey.html" target="_blank">Survey</a> |
        <a href="https://matthewbridges34.github.io/itis3135/FCC/gallery.html" target="_blank">Gallery</a> |
        <a href="https://matthewbridges34.github.io/itis3135/FCC/inventory.html" target="_blank">Inventory</a> |
        <a href="https://matthewbridges34.github.io/itis3135/FCC/instructions.html" target="_blank">Instructions</a> |
        <a href="https://matthewbridges34.github.io/itis3135/FCC/highlight.html" target="_blank">Highlight</a> |
            </nav>
        </header>
    </body>
<div id="immersive-translate-browser-popup" style="all: initial">
    </div>
</html>