<header>
    <h1>ITIS3135 | Matthew Bridges's | Determined 49er</h1>

    <nav class="primary-nav" aria-label="Primary navigation">
        <a href="/itis3135/">Home</a> |
        <a href="/itis3135/introduction.html">Introduction</a> |
        <a href="/itis3135/contract.html">Contract</a> |
        <a href="/itis3135/intro_form.html">Intro Form</a> |
        <a href="/itis3135/project_overview.html">Project Overview</a>
    </nav>

    <nav class="secondary-nav" aria-label="Secondary navigation">
        <a href="/itis3135/FCC/cards.html">Cards</a> |
        <a href="/itis3135/FCC/survey.html">Survey</a> |
        <a href="/itis3135/FCC/gallery.html">Gallery</a> |
        <a href="/itis3135/FCC/inventory.html">Inventory</a> |
        <a href="/itis3135/FCC/documentation.html">Documentation</a> |
        <a href="/itis3135/website_evaluations.html">Evaluations</a> |
        <a href="/itis3135/stuff/w2@a1Zg-vb.htm">Crappy Page</a> |
        <a href="/itis3135/hobby/index.html">Hobby</a> |
        <a href="/itis3135/client_project/index.html">Client Project</a> |
        <a href="/itis3135/review1.html">Review 1</a> |
        <a href="/itis3135/review2.html">Review 2</a> 
    </nav>
</header>
